.mainContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--primary-box-shadow);
	border: 1px solid var(--primary-color);
	transition: var(--primary-transition-transform);
	&:hover{
		transform:scale(1.003)
	}
	&.__completed_ {
		border: 1px solid var(--success-color);
		box-shadow: var(--success-box-shadow);
		.__textsWrapper {
			.__text {
				text-decoration: line-through;
			}
		}
	}

	.__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		min-width: 1.5rem;
		height: 1.5rem;
		border-radius: 0.25rem;
		cursor: pointer;
		transition: var(--primary-transition-transform);
		user-select: none;

		&.__index_{
			background-color: var(--light-color);
		}
		&.__edit_{
			color: var(--light-color);
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
			background-color: var(--secondary-color);
		}
		&.__check_{
			color: var(--light-color);
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
			background-color: var(--success-color);
		}
		&.__remove_{
			color: var(--light-color);
			text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
			background-color: var(--error-color);
		}
		&:hover{
			transform: rotate(15deg);
		}
	}

	.__textsWrapper{
		width: calc(100% - 4rem);
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding-left: 0.25rem;
	}
	.__buttonsWrapper{
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}