.LAYOUT__main-container {
	.LAYOUT__header {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 5rem;
		background-color: var(--dark-color);
		box-shadow: var(--primary-box-shadow);
	}
	.LAYOUT__main {
		width: 90%;
		min-height: calc(100vh - 15rem);
		margin-top: 8rem;
		margin-bottom: 3rem;
		margin-inline: auto;

		.LAYOUT__counter,
		.LAYOUT__search {
			margin-bottom: 2rem;
		}

		.LAYOUT__list {
			.LAYOUT__loading, .LAYOUT__error{
				margin-top: 4rem;
				text-align: center;
				color: var(--secondary-color);
			}
		}

		.LAYOUT__buttons {
			position: fixed;
			z-index: 3;
			bottom: 1rem;
			right: 1rem;
		}
	}
	.LAYOUT__footer {
		display: flex;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 4rem;
		box-shadow: var(--primary-box-shadow);
	}
}