.MODAL__main-container{
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);

	.MODAL__content {
		position: relative;
		z-index: 4;
		cursor: pointer;
		width: 90%;
		max-width: 600px;
		min-height: 300px;
		max-height: 500px;
		padding: 2rem;
		border-radius: 1rem;
		background-color: var(--dark-color);
		box-shadow: var(--primary-box-shadow);
	}
}
